name: Deploy on sdk update
on:
  repository_dispatch:
    types: [jit-sdk-update]

jobs:
  update-sdk:
    runs-on: ubicloud
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "22.14.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: |
          cd drift-common/protocol/sdk
          yarn install
          yarn build
          cd ../../common-ts
          yarn install
          yarn build
          cd ../../
          yarn install
          yarn build

      - name: Add specific version of sdk
        run: yarn add @drift-labs/sdk@${{ github.event.client_payload.sdk-version }}

      - name: Add specific version of jit sdk
        run: yarn add @drift-labs/jit-proxy@${{ github.event.client_payload.jit-version }}

      - name: Build after new dependency
        run: yarn run build

      - name: Commit and push changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add -A
          git commit --allow-empty -m "Bumping sdk and jit dependencies to ${{ github.event.client_payload.sdk-version }} and ${{ github.event.client_payload.jit-version }}"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GH_PAT }}
