name: Deploy on sdk update
on:
  repository_dispatch:
    types: [jit-sdk-update]

jobs:
  update-sdk:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup node
      uses: actions/setup-node@v2
      with:
        node-version: '16.x'
        registry-url: 'https://registry.npmjs.org'

    - name: Install dependencies
      run: yarn install

    - name: Add specific version of sdk
      run: yarn add @drift-labs/sdk@${{ github.event.client_payload.sdk-version }}

    - name: Add specific version of jit sdk
      run: yarn add @drift-labs/jit-proxy@${{ github.event.client_payload.jit-version }}

    - name: Build after new dependency
      run: yarn run build

    - name: Commit and push changes
      run: |
        git config user.name "GitHub Actions"
        git config user.email 41898282+github-actions[bot]@users.noreply.github.com
        git add -A 
        git commit --allow-empty -m "Bumping sdk and jit dependencies to ${{ github.event.client_payload.sdk-version }} and ${{ github.event.client_payload.jit-version }}"
        git push